@model CRAZeCards.Month

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="google-site-verification" content="GJm0Cx1Wj912iNbwDC_Bqrc4HqfWXRdVwI7GnSf53yE" />
    <meta name="viewport" content="width=device-width" />
    <title>SelectCard</title>
    <style>
        body {
            background-image: url(http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-5.jpg);
            background-repeat: repeat;
            background-size:100%;
            overflow: scroll;
            /*width: 960px;*/
            
        }
    </style>
</head>
<body>
    <div>
        <center><br><br><br><br><br><br>
            <ul style="list-style: none; color:black">
                @foreach (HOLIDAY holiday in Model.Holidays)
            {
                    <li><font size="7" class="linkcolor">@Html.ActionLink(@holiday.Holiday_Name, "SendCard", new { holidayId = holiday.Holiday_Id, imgUrl = holiday.Holiday_View })
                        -@Html.ActionLink(@holiday.Holiday_Month, "SendCard", new { holidayId = holiday.Holiday_Id, imgUrl = holiday.Holiday_View })
                        @Html.ActionLink(@holiday.Holiday_Date, "SendCard", new { holidayId = holiday.Holiday_Id, imgUrl = holiday.Holiday_View })</li>
                }
            </ul>
        </center>
    </div>
</body>
</html>
